body {
    font-family: Arial, sans-serif;
    background: #414c57;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
body{
  background-image: url(thumb-1920-423529.jpg);
  
}
  
  h2 {
    font-size:xxx-large;
    color: #ffffff;
    background-color: #ff0000;
    border-radius: 1%;
  }
  h3 {
    font-size: larger;
    color: #3dcbe4;
    background-color: #ac186e;
    border-radius: 1%;
  }
  
  p {
    margin-top: -10px;
    margin-bottom: 20px;
    color: #555;
  }
  
  input[type="text"] {
    padding: 10px 15px;
    font-size: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  code {
    background: #e0e0e0;
    padding: 2px 6px;
    border-radius: 4px;
  }
 button.div{
 
    padding: 10px 20px;
    background-color: #c53713;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  
 }
  
